 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$small-screen: em(320); 

$knockout: #FFFFFF; //white
$primary-accent-color: #FE772E; //orange in logo #E26331
$primary-neutral-color: #6D7178; //medium gray

$font-stack: Verdana, sans-serif;

// Custom Styles
body {

  background: $knockout;
  font-family: 100% $font-stack;
  color: $primary-neutral-color;
  a {
    color: $primary-accent-color;
    text-decoration: none;
  }
}

header {
  overflow: hidden;
  width: 100%;
  background: #ffffff;
  padding-bottom: 1.75em;
  z-index: 2;
  .wrap {
    @include outer-container;
    // overflow: hidden;
    // max-width: 1080px;
    // width: 85%;
    // margin: 0 auto;
    .logo {
      @include span-columns(5);
      // @include shift(1);
      max-width: 40px;
      max-height: 80px;
      float: left;
      padding-top: 1.35em;
    }
    .nav-collapse {
      @include span-columns(7);
      transition: max-height 250ms;
      transition-property: max-height;
      transition-duration: 250ms;
      transition-timing-function: initial;
      transition-delay: initial;
      position: relative;
      float: right;
      ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        list-style: none;
        text-align: right;
        li {
          @include media($small-screen)  {
            float: left;
            margin-left: 40px;
            margin-bottom: 0;
          }
          display: block;
          margin-bottom: 1em;
          // Remove this style once navigation is functional.
          .active {
            color: $primary-accent-color;
            border-top: 4px solid $primary-accent-color;
            &:hover {
              border-top: 4px solid $primary-accent-color;
            }
          }
          a {
            color: $primary-neutral-color;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            display: block;
            border-top: 4px solid $knockout;
            padding-top: 30px;
            .carrot {
              padding-left: 10px;
              padding-bottom: 1.5px;
            }
            &:hover {
              border-top: 4px solid $primary-neutral-color;
            }
            &:active {
              color: $primary-accent-color;
              border-top: 4px solid $primary-accent-color;
            }
          }
          .button {
            color: $knockout;
            background: $primary-accent-color;
            border-top: 0;
            padding: 10px;
            margin-top: 25px;
            border-radius: 3px;
            &:hover {
              background: $primary-neutral-color;
              border-top: 0;
            }
          }
        }
      }
    }
    .nav-toggle {
      // @include media($medium-screen) {
        display: none;
      // }
    }
  }
}
.hero {
  padding: 1.75em 0;
  background-image: url(../images/Home-assets/bg.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center -100px;
  background-attachment: fixed;
  .billboard {
    @include outer-container;
    .messaging {
      @include span-columns(8);
      overflow: hidden;
      margin: 0 auto;
      padding-right: 40px; 
      font-family: $font-stack;
      color: $knockout;
      h1 {
        font-size: 48px;
        font-weight: 400;
        span {
          font-weight: 600;
          color: $primary-accent-color;
        }
      }
      p {
        font-size: 20px;
        font-weight: normal;
        span {
          font-weight: 600;
          color: $primary-accent-color;
        }
      }
    }
    .score {
      @include span-columns(4);
      text-align: center;
      margin-top: 50px;
    }
    .cta {
      @include span-columns(12);
      text-align: center;
      button {
        color: $knockout;
        margin: 20px auto;
        background: $primary-accent-color;
        border: 0;
        border-radius: 3px;
        font-size: 15px;
        font-weight: normal;
        padding: 16px 60px;
        &:hover {
          background: $primary-neutral-color;
        }
      }
    }
    
  }

}

section.mission {
  @include outer-container;
  background: $knockout;
  // font-family: $font-stack;
  text-align: center;
  >h2 {
    @include span-columns(12);
    font-weight: 100;
  }
  >p {
    @include span-columns(12);
    font-weight: 100;
    font-size: 20px;
    line-height: 1.5em;
  }
  >hr {
    @include span-columns(2);
    @include shift(5);
    border: 0.1em solid $primary-accent-color;
  }
}

section.steps {
  @include outer-container;
  >h2 {
    @include span-columns(12);
    text-align: center;
    font-weight: 100;
    span {
      font-weight: 600;
      color: $primary-accent-color;
    }
  }
}

.pathway {
  @include outer-container;
  position: relative;
  background: $knockout;
  z-index: 1;
  .guide_one {
    @include span-columns(4);
    @include shift(1);
    padding: 20px;
    border: 0.1em solid $primary-accent-color;
    border-radius: 3px;
    >img {
      // border: 0.1em solid red;
      float: left;
    }
    >p {
      // border: 0.1em solid red;
      font-size: 14px;
      font-family: $font-stack;
      margin-left: 45px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .node {
    border-radius: 14px;
    height: 14px;
    width: 14px;
    background: $primary-accent-color;
    z-index: -9;
    position: absolute;
    left: 49.5%;
  }
  .spine {
    // @include span-columns(1);
    position: absolute;
    left: 50%;
    // margin: 0 auto;
    // @include shift(5);
    // background: pink;
    height: 1500px;
    border-right: 4px solid $primary-accent-color;
    z-index: -10;
  }
  .blank {
    @include span-columns(6);
    // background: pink;
    height: 50px;
  }

  .score_nav {
    @include span-columns(12);
    z-index: 2;
    padding: 20px;
    margin-top: 20px;
    border: 0.1em solid $primary-accent-color;
    border-radius: 3px;
    background: $knockout;
    >img {
      max-width: 100%;
    }
  }
  .guide_two {
    @include span-columns(4);
    @include shift(7);
    padding: 20px;
    margin-top: 20px;
    border: 0.1em solid $primary-accent-color;
    border-radius: 3px;
    >img {
      // border: 0.1em solid red;
      float: left;
    }
    >p {
      // border: 0.1em solid red;
      font-size: 14px;
      font-family: $font-stack;
      margin-left: 45px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .panel {
    @include span-columns(4);
    @include shift(1);
    padding: 20px;
    margin-top: 20px;
    color: $knockout;
    font-size: 14px;
    font-family: $font-stack;
    // font-weight: 100;
    border: 0.1em solid $primary-accent-color;
    border-radius: 3px 3px 0 0;
    background: $primary-accent-color;
    background-image: url(../images/Home-assets/car_icon.png);
    background-repeat: no-repeat;
    >img {
      max-width: 100%;
    }
    >button {
      color: $primary-accent-color;
      margin: 20px auto;
      background: $knockout;
      text-transform: uppercase;
      // text-align: right;
      border: 0;
      border-radius: 3px;
      font-size: 15px;
      font-weight: normal;
      padding: 16px 60px;
      &:hover {
        background: $primary-neutral-color;
      }
    }
    .detail_one {
      // @include span-columns(4);
      // @include shift(1);
      padding: 20px;
      margin-top: 0px;
      color: $primary-accent-color;
      font-size: 14px;
      font-family: $font-stack;
      // font-weight: 100;
      border: 0.1em solid $primary-accent-color;
      border-radius: 3px;
      .detail_fpo {
        max-width: 100%;
      }
    }
  }

  .right {
    @include span-columns(4);
    @include shift(2);
  }
  //staggered panel test
  // .void {
  //   @include span-columns(4);
  //   @include shift(2);
  //   &.black {
  //     background: black;
  //     height: 200px;
  //   }
  //   &.red {
  //     background: red;
  //     height: 500px;
  //   }
  //   &.blue {
  //     background: blue;
  //     height: 300px;
  //   }
  //   &.yellow {
  //     background: yellow;
  //     height: 200px;
  //   }
  //   &.purple {
  //     background: purple;
  //     height: 100px;
  //   }
  //   &.pink {
  //     background: pink;
  //     height: 200px;
  //   }
  // }
  // .bumper {
  //   @include span-columns(4);
  //   @include shift(2);
  //   background: pink;
  //   height: 305px;
  // }
}




section.video {
  @include outer-container;
  background: $knockout;
  // font-family: $font-stack;
  text-align: center;
  >h3 {
    @include span-columns(12);
    font-weight: 100;
    text-transform: uppercase;
  }
  >img {
    margin: 0 auto;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  >hr {
    @include span-columns(2);
    @include shift(5);
    border: 0.1em solid $primary-accent-color;
  }
}

section.reviews {
  @include outer-container;
  background: $knockout;
  >h3 {
    @include span-columns(12);
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
  }
  >img.avatar {
    @include span-columns(2);
    text-align: center;
    max-width: 80%;
  }
  >p {
    @include span-columns(8);
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5em; 
    padding-top: 20px;
    .author {
      display: block;
      text-align: right;
      font-size: 18px;
      padding-right: 50px;

    }
    .title {
      display: block;
      text-align: right;
      padding-right: 50px;
    }
  }
  >img.controls {
    @include span-columns(1);
    padding: 10px;
    padding-top: 60px;
    max-width: 100%;
  }
}

footer {
  @include outer-container;
  >img {
    @include span-columns(3);
    max-width: 25%;
    margin-top: 50px;
  }
}

// .hero-unit {
//   margin: 50px auto 0 auto;
//   width: 600px;
//   font-size: 18px;
//   font-weight: 200;
//   line-height: 30px;
//   background-color: #eee;
//   border-radius: 6px;
//   padding: 60px;
//   h1 {
//     font-size: 60px;
//     line-height: 1;
//     letter-spacing: -1px;
//   }
// }
